<div id="main">
    <div class="accordion" id="faq">
        <div class="card">
            <div class="card-header" id="faqhead1">
                <a href="#" class="btn btn-header-link fa fa-th-large" data-toggle="collapse" data-target="#faq1"
                    aria-expanded="true" aria-controls="faq1"> List View</a>
            </div>

            <div id="faq1" class="collapse show" aria-labelledby="faqhead1" data-parent="#faq">
                <div class="card-body px-1">
                    List view goes here....
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="faqhead2">
                <a href="#" class="btn btn-header-link collapsed fa fa-pencil-square-o" data-toggle="collapse"
                    data-target="#faq2" aria-expanded="true" aria-controls="faq2"> Create/Update View</a>
            </div>

            <div id="faq2" class="collapse" aria-labelledby="faqhead2" data-parent="#faq">
                <div class="card-body">
                    Create/update view goes here....
                </div>
            </div>
        </div>
    </div>
</div>