.sidebar .nav.sub-menu .nav-item::before {
    font-family: FontAwesome;
    font-weight: 200; 
    content: "\f10c";    
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    margin-top: 5px;
}